<div id="content">

<h2>Source Code</h2>

<p>The pyjamas project is using
<a href="http://github.com/sitaramc/gitolite">gitolite</a> to manage
the git repositories.  For read-only access, use the following:</p>

<code>git clone https://github.com/pyjs/pyjs.git</code>

<p>If you would like write-access, please simply ask on the
<a href="./documentation.html#Getting Help">mailing list</a>.
For developers, use the following (which only works once you have
sent in an ssh public key):</p>

<code>git clone https://github.com/pyjs/pyjs.git</code>

<p>There is also a public git browser (a pyjamas app!) at:</p>

<code><a href="http://pyjs.org/pygit">http://pyjs.org/pygit</a></code>

<h2>Pyjamas Developer Guidelines</h2>

<p>In the Pyjamas repository is a file DEVELOPER.RULES.  As long as you
follow those rules, you can do what you like.  The trickiest part about
Pyjamas is remembering that it is several separate projects.  For
example: modifying the javascript compiler has absolutely nothing to do
with Pyjamas Desktop.  But, modifying a Pyjamas UI Widget requires testing
on <b>eight</b> platforms (five web and three desktop) including compiling
and testing using both --strict and -O on the five web platforms, and
testing under nearly <b>ten</b> web browsers (Firefox 2 to 4; Opera 9 to 10.5;
Safari 3 and 4; Google Chrome; IE 6 and above, and so on).  Clearly, this
is an impossible task but you should make the best efforts and use your
judgement, and ask for help on the mailing list.</p>

<p>Lastly - please use the
<a href="https://github.com/pyjs/pyjs/issues/list">bugtracker</a> to
report bugs (regardless of how trivial or small);
the mailing list to coordinate discussions; the
<a href="https://github.com/pyjs/pyjs/wiki">pyjamas wiki</a> to create HOWTOs and so on.</p>

<h2>How to set up a Web development environment</h2>

<p>Web application development can be tricky: it can come as a
bit of a shock when compared to python app development to learn
that web browsers do not come with <em>any</em> proper debugging
assistance whatsoever, by default. You <strong>will</strong> need
to install and/or enable a debugger in the browsers that you use:</p>

<ul>
<li>For Firefox, install both
  <a href="https://addons.mozilla.org/de/firefox/addon/javascript-debugger/">Venkman</a>
  and <a href="https://addons.mozilla.org/de/firefox/addon/firebug/">Firebug</a>.</li>
<li>For IE, install the
   <a href="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=2f465be0-94fd-4569-b3c4-dffdf19ccd99&amp;DisplayLang=en">Microsoft
   Script Debugger</a>.</li>
<li>For Safari, go to the settings and enable "Development".</li>
<li>For Chrome, <a href="http://chrispederick.com/work/web-developer/">Web
  Developer</a> has been reported to make your life easier.
<li>Opera users, you are extremely lucky: Opera has stack tracing by default.</li>
</ul>

<p>You should also note that the Pyjamas compiler has a "-d" option
which will enable a python-like stack trace when a javascript
exception occurs. The amount of javascript generated can be FIVE
times larger, so only enable this during development.</p>

<p>Lastly, it is worth reiterating that Pyjamas Desktop runs as
pure python: you should give serious consideration to running the
application under Pyjamas Desktop alongside developing it for the
browser. The availability of python runtime stack traces and the
simple fact that the standard python interpreter is much better at
catching certain kinds of errors than (brain-damaged) browsers has
generally found to make life much much easier.</p>

<h2>Building User Interfaces with Pyjamas</h2>

<p>To become familiar with the user interface side of Pyjamas, you
might like to refer to the <a href="./examples">examples</a> online
and also compile and run them locally.</p>

<p>You might find the <a href="./uiHierarchy.html">ui module class
hierarchy</a> useful. The <code>ui</code> module contains all of the
main classes you need to create your user interface. At first, this
module can be a quite confusing because of the number of classes
defined. However, there is <a href="./api">API documentation</a>,
along with a <a href="./controls_tutorial.html">tutorial</a>
on how to create your own interactive widget.</p>

<p>You might also have a look at the
<a href="http://code.google.com/webtoolkit/documentation">
GWT Documentation</a> for widgets that have ported to pyjamas.</p>

<h2>Sources Overview</h2>

<p>The pyjs repo contains both shared libraries (usable in python or
javascript mode), and "runners" that execute the code (python or
javascript) on a particular engine.  Here is a quick what-is-what.</p>

<dl class="concise">
<dt>/addons/</dt>
  <dd>Contributed libraries, added to the pythonpath when translating code to
    js</dd>
<dt>/bin/</dt>
  <dd>Executables created when bootstrapping appear here</dd>
<dt>/builder/</dt>
  <dd>Just ignore that for now</dd>
<dt>/contrib/</dt>
  <dd>Miscellaneous helper scripts</dd>
<dt>/dev/</dt>
  <dd>Just ignore that for now</dd>
<dt>/doc/</dt>
  <dd>The content of pyjs.org is here</dd>
<dt>/examples/</dt>
  <dd>Lots of examples with their build scripts (also used to test all is
    ok)</dd>
<dt>/examples/libtest/</dt>
  <dd>Used for unit-testing, build it and launch it to have in-browser
    tests performed</dd>
<dt>/library/</dt>
  <dd>All common widgets and utilities, with platform overides when
    necessary</dd>
<dt>/library/gwt/</dt>
  <dd>libs tracking original gwt sources, without improvements</dd>
<dt>/library/pyjamas/</dt>
  <dd>libs mirroring and cross-linking gwt/ ones, to add pyjamas-specific
  features</dd>
<dt>/pgen/</dt>
  <dd>Python parsing suite recoded in python</dd>
<dt>/pygtkweb/</dt>
  <dd>Just ignore that for now</dd>
<dt>/pyjd/</dt>
  <dd>Desktop runner (executes non-translated code, on several possible
    backends)</dd>
<dt>/pyjs/</dt>
  <dd>Actual python-to-js tools: translator, browser linker, python builtins
    and stdlib recoded for javascript</dd>
<dt>/pysm/</dt>
  <dd>Spidermonkey runner (executes js code on that js engine)</dd>
<dt>/pyv8/</dt>
  <dd>Google V8 runner (executes js code on that js engine)</dd>
<dt>/tests/</dt>
  <dd>Just ignore that for now</dd>
<dt>/bootstrap</dt>
  <dd>The script through which everything starts</dd>
<dt>/test.py</dt>
  <dd>Very useful to easily launch unit-tests (especially libtest) on
    several engines</dd>
</dl>

<p>Key points to remember:</p>
<ul>
<li>the "/pyjs" part is only used in translated mode, other libraries
  are used both for translated (browser, pyv8, pysm...) and non-translated
  (pyjd) modes</li>
<li>each widget is split between "/library/pyjamas/ui/" and
  "/library/gwt/ui/" trees, to differenciate legacy and pyjamas-added
  features</li>
<li>for testing, "/test.py" and compiled "/examples/libtest" are your
  best allies</li>
</ul>

</div>
