<div id="content">

<h2>Documentation and References</h2>

<p>A complete reference guide - the
 <a href="./api">API documentation</a> - is available, which
can be built locally using the gendocs.py script, in the
pyjamas distribution.
</p>

<p>There are also HOWTO Guides at the
<a href="https://github.com/pyjs/pyjs/wiki">Pyjamas Wiki</a>.
These HOWTOs are written by users, for users, and will guide you
through the process of setting up and using Pyjamas, including with
your preferred web server framework (Django, Pylons, Web.py etc.)
</p>

<h2>Pyjamas Book</h2>

<p>An online version of the
<a href="./book/output/Bookreader.html">Pyjamas Book</a>
is available to read, and is in development. Contact
<a href="mailto:lkcl@lkcl.net">lkcl@lkcl.net</a>
if there are any issues that you believe should be covered; if you
find any errors; or if the book proves useful enough to be worth
paying for. The Bookreader itself is a Pyjamas application which
uses AJAX to load the contents as text files, and Wiki-like markup
is used, on the browser, to generate the HTML displayed.</p>

<h2>Getting Started</h2>

<p>Here are some resources to get you started with Pyjamas quickly:</p>
<ul>
<li><a href="https://github.com/pyjs/pyjs/wiki/GettingStarted">GettingStarted</a> (a concise wiki
article)</li>
<li><a href="./getting_started.html">Getting Started with pyjamas</a>
(if you prefer readable text over bulleted lists)</li>
<li><a href="./examples">Pyjamas Examples</a> (demo applications and
their source code)</li>
</ul>

<h2>Mailing List</h2>

<p>Pyjamas' (developer and user) mailing list is
<a href="mailto:pyjamasdev@pyjs.org">pyjamasdev@pyjs.org</a>. You can use
the <q><a href="http://lists.pyjs.org/mail">Mail App</a></q> (a Pyjamas
application) to read the list archive on the web, or search for older
mails in one of our Mailing List archives
(<a href="http://groups.google.com/group/pyjamas-dev">Google Groups</a>,
 <a href="http://www.mail-archive.com/pyjamasdev@pyjs.org/">Mail Archive</a>,
 <a href="http://pyjamas-python-web-widget-set-and-python-to-javascript-compiler.9509.n6.nabble.com">Nabble</a>,
 <a href="http://blog.gmane.org/gmane.comp.python.pyjamas.devel">Gmane</a>).
</p>


<dl>
<dt>Subscribe:</dt>
<dd>Send an e-mail to
<a href="mailto:pyjamasdev-subscribe@pyjs.org">pyjamasdev-subscribe@pyjs.org</a></dd>
<dt>Unsubscribe:</dt>
<dd>Send an e-mail to
<a href="mailto:pyjamasdev-unsubscribe@pyjs.org">pyjamasdev-unsubscribe@pyjs.org</a>
</dd>
<dt>Mail delivery off/on:</dt>
<dd>Send an e-mail to <a
 href="mailto:pyjamasdev-nomail@pyjs.org">pyjamasdev-nomail@pyjs.org</a>
to stop receiving mail from the list (make it quiet for some time).
You will still be subscribed.</dd>
<dd>Send an e-mail to <a
 href="mailto:pyjamasdev-mail@pyjs.org">pyjamasdev-mail@pyjs.org</a>
to re-enable receiving mail from the list.</dd>
</dl>

<p>
<b>Beware</b> - as of 2012/01, the mailing list still doesn't handle
CC's, so only use a single recipient (no "reply to all"), which must be
the mailing list address: pyjamasdev@pyjs.org
</p>

<h2>Before Asking For Help</h2>

<p>Some other resources you may find worth consulting before you go
and ask for help:</p>

<ul>
<li><a href="./faq/answers/#FAQ">Frequently asked questions</a></li>
<li><a href="https://github.com/pyjs/pyjs/issues/list">Pyjamas'
bug tracker</a></li>
<li><a href="https://github.com/pyjs/pyjs.git">Pyjamas source code</a> (a Pyjamas application
to browse the Git repository)</li>
</ul>

</div>
