<div id="masthead">

<h1>Pyjamas</h1>

<img id="logo" src="./img/pyjamas.128x128.png" alt="Logo" />
<img id="title" src="./img/pyjamas.logotype.white.png" alt="Pyjamas" />

</div>
<div id="mastbottom">

<h2>Python-based Web Application Development Framework</h2>

<a href="javascript:void(0)"><img
        src="http://images.sourceforge.net/images/project-support.jpg"
        id="donation" alt="Support this project" /></a>

<div id="downloadnow">

<h3><a href="https://sourceforge.net/project/showfiles.php?group_id=239074">Download Pyjamas 0.8</a></h3>
<code title="Git Repository (read-only access)">git clone https://github.com/pyjs/pyjs.git</code>

</div>

</div>
