<div id="content">

<h3>Special Note About Pyjamas Development</h3>

<p>Pyjamas is Free Software, and is made up of its contributions from
users, for its users.  As a Free Software Project, its existence and
continued development depends exclusively on financial and technical
contributions.</p>

<p>If you use Pyjamas for a non-commercial project, consider contributing
patches, examples, or documentation updates.  If you use it for a
commercial project, consider contracting the Lead Developers to assist
your development. This helps ensure the Pyjamas codebase remains stable
and consistent with your project's development. If you just like Pyjamas
and wish to see it move forward, consider sponsoring or making a
<a href="javascript:void(0)">donation</a>
to help support the continuing efforts toward the Pyjamas Roadmap.</p>

<h2>Pyjamas Roadmap</h2>

<p>As Pyjamas comprises several projects, each has its own future and
direction.</p>

<h3>Pyjamas Compiler</h3>

<ul>
<li>Add support for exec and eval (like Skulpt).</li>
<li>Improve the python interoperability support for --strict, with the goal of
  providing full and complete python interoperability for this mode.</li>
<li>Provide a complete suite of interoperable python modules.</li>
<li>Be able to run and pass the standard http://python.org test suite, under
  pyv8run and pysmrun (all 25,000 regression tests).</li>
<li>Add decorators to all functions which allow the declaration of the types
  of parameters and the return result, and enhance the compiler so that it
  optimises the generated code.  One of the flaws of the python programming
  language is that every operation (+, -, len etc.) requires double-checking
  the type of the object, and http://python.org always check whether the two
  types are integers, then moves into complex detection and type coercion
  second.  Converting this logic to javascript has proved to be very
  expensive for --strict.
  Emacs and PyQT4 solve this by allowing the type of parameters and the
  return result to be declared in advance.</li>
<li>Complete the enhancements work listed in the TODO file.</li>
</ul>

<h3>Pyjamas Widget Set</h3>

<ul>
<li>Continue to track GWT Widgets</li>
<li>Seek out cool and useful projects to convert to Pyjamas, such as gwt-g3d
  (WebGL 3D API using new HTML5 features)</li>
<li>Make automated conversion of GWT-compliant code into Pyjamas code much
  easier.</li>
</ul>

<h3>Pyjamas Desktop</h3>

<ul>
<li>Add more runtimes, especially for MacOSX and embedded systems.</li>
<li>Provide easy-to-install dependencies for all platforms across all
  computing architectures (webkitgtk is <b>not</b> easy to install on Win32
  or MacOSX, neither is pywebkitgtk).</li>
<li>Change the startup API so that it uses the HTML loader file to detect the
  module (just like pyjs)</li>
<li>Provide the means to open several web engine windows (support for
  Window.open) and still have them load and run pyjamas applications.</li>
</ul>

</div>
