<h2>What developers say</h2>

<p>
"Thanks for developing this, it seems like a much 'healthier' way to do web
development."
<br /> - Fran
</p>
<p>
"Moral of this story is as follows... there is boring (COBOL, J2EEcirca 1999,
JDK 1.4, Visual Basic), there is cutting edge (Ajax libs), bleeding edge (GWT),
and scarry bleeding ouch ouch ouch I am bloodyedge...
Pyjamas is closer to the last extreme."
<br /> - Brian
</p>

<h2>News</h2>

<dl>
<dt>January 2012</dt>
  <dd>Community contributions to website</dd>
<dt>July 2010</dt>
  <dd>Pyjamas-based Mailing list and Git Browser created</dd>
<dt>15th June 2010</dt>
  <dd>New website!</dd>
</dl>

<h2>Useful Links</h2>

<ul>
<li><a href="./book/output/Bookreader.html">Manual</a>
- a comprehensive guide to Pyjamas, as a Pyjamas-based AJAX book reader.</li>
<li><a href="https://github.com/pyjs/pyjs/wiki">Pyjamas Wiki</a>
- reference discussions about recurring topics.</li>
<li><a href="http://lists.pyjs.org/mail">Mailing List Viewer</a>
- for browsing through current discussions.</li>
<li><a href="http://groups.google.com/group/pyjamas-dev">Legacy Mailing List</a>
<!-- Alternative: GMANE archive since Nov 2011: http://dir.gmane.org/gmane.comp.python.pyjamas.devel -->
- archived discussion group list at Google Groups.</li>
<li><a href="https://github.com/pyjs/pyjs/issues/list">Bug Tracker</a>
- see the currently reported issues.</li>
<li><a href="https://github.com/pyjs/pyjs.git">Sourcecode</a>
- Pyjamas Git repository browser.</li>
<li><a href="http://code.google.com/webtoolkit/documentation">GWT Documentation</a>
is useful since pyjamas reimplements much of the same GWT Widget API
in Python.</li>
<li><a href="./examples">Examples</a>
- a page of working applications.</li>
<li><a href="http://pyjamas.spreadshirt.co.uk">T-Shirts</a>
- show your Pyjamas Pride with these.</li>

</ul>

<p><a href="http://www.ohloh.net/p/pyjamas?ref=WidgetProjectPartnerBadge"
      target="_blank"><img
        alt="Ohloh project report for pyjamas" border="0" height="33" width="193"
        src="http://www.ohloh.net/p/pyjamas/widgets/project_partner_badge.gif"
        /></a></p>

<p><a href="javascript:void(0)"
        ><img src="http://images.sourceforge.net/images/project-support.jpg"
              width="88" height="32" border="0" alt="Support this project"
        /></a></p>

<h2>Sites using Pyjamas</h2>

<ul>

<li><a href="http://www.grafpad.com"
       title="Powerful intuitive drawing application"
       target="_blank">Grafpad</a> Drawing app</li>
<li><a href="http://beammail.org"
       title="Evolution-style IMAP web client"
       target="_blank">beamMail</a> IMAP web client</li>
<li><a href="http://tickery.net"
       title="A Twitter Query application"
       target="_blank">Tickery</a> Twitter analyser</li>
<li><a href="http://www.nagare.org"
       title="Uses pyjs compiler from v0.5"
       target="_blank">Nagare</a> Web framework</li>
</ul>

<br/>
</div>
